*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    background-color: #3982F5;
    
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row-header{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
.col{
    height: 50px;
    width: 40%;
    display: flex;

}
.col img{
    padding-top: 5px;
    padding-left: 30px;
    height: 40px;
}
.col100-text{
    padding: 10px 40px 10px 40px;
    text-align: center;
    line-height: 30px;
    font-family: sans-serif;
}
.col100-text p{
    margin: 20px 0 10px 0;
}
.col100-text h2{
    color:#3982F5; ;
}
.col100-img{
    text-align: center;
}
.col100-img img{
    height: 300px;
    position: relative;
    
}
button{
    width: 120px;
    padding: 5px;
    background-color:  #3982F5; 
    color: white;
    border-radius: 20px;
    margin-top: 30px;
    border: none;
}
.icon{
    padding: 50px 0 0 0;
    text-align: center;
    color: #3982F5;
    margin-bottom: 50px;
}

.col-70{
    width: 70%;
    height: 100%;
    
    
    
}
ul{
    display: flex;
    list-style-type: none;
    text-decoration-line: none;
    justify-content: space-around;
    padding-top: 10px;
    color: white;
    display:none ;
}

.col-30{
    width: 30%;
    height: 100%;
}
.button-menu{
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    display: none;
}
.sandwitch{
    padding-top: 5px;
    padding-left: 10px;
    color: white;
}
.container{
    width: 100%;
   
}
.row{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
        
}

.col-100{
    width: 90%;
    min-height: 400px;
    background-color: #BFDEFF;
   
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10%;
    margin-bottom: 10px;

}

.violet{
    background-color: #9692DE;
    padding-top: 10px
}

.cont-violet{
    min-height: 300px;
   background-color: transparent;
}
.cont-violet img{
    height: 350px;
    padding-left: 20px;
}
.cont-violet p{
    padding: 20px 10px 0 10px
}
.cont-violet-text{
    color: white;
    font-family: sans-serif;
    
    text-align: center;
}
.cont-violet-text p{
    font-size: 12px;
    margin-top: 10px;
    
}
.violet-img{
    background-color: white;
}
.violet-img img{
    padding-left: 30px;
}
.violet-img h4, p{
   font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
}
.cont-white{
    min-height: 300px;
    background-color:brown;
}

.col-60{
    width: 100%;
    height: 60%;
    background-color: bisque;
}
.get-started{
    height: 400px
}
footer{
    width: 100%;
    height: 400px;
    background-color: #222;
}
.row-footer{
    width: 75%;
    height: 100%;
    margin: 0 auto;
}
.col-footer{
    width: 100%;
    height: 50%;
    border: 1px solid red ;
    background-color: aliceblue;
}
/*********************************/
/*media query*/
/*********************************/
@media screen and (min-width: 768px) {

    .container-card{
        width: 100%;
    }
    .col66{
        width: 65%;
    }
    .col33{
        width: 33%;
    }
    .row{
        justify-content: space-between;
    }
    .cont-white{
        width: 100%;
    }
    .violet{
        width: 100%;
    }
    .cont-violet{
        width: 48%;
    }
    .row-about-us{
        display: flex;
    }
    .cont-about-us{
        width: 48%;
        min-height: 400px;
    }
    .row-violet{
        flex-direction: column;
    }
}

@media screen and (min-width: 992px){
    .container-card{
        width: 100%;
    }
    .row-card{
        width: 75%;
        margin: 0 auto;
    }
    .col66{
        padding-top: 100px;
        display: flex;
    }
    .col66 .col100-text{
        position: relative;
        right: 40px;
    }
   

    .row-violet{
        display: flex;
        flex-direction: row;
    }
    
    .white{
        width: 100%;
    }
    .row-white{
        width: 75%;
        margin: 0 auto;
    }
    .violet{
        width: 100%;

    }
    .card-violet{
        width: 75%;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .cont-violet{
        width: 30%;
    }
    footer{
        width: 100%;

    }
    .row-footer{
        width: 50%;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px){
    .container{
        width: 100%;
    }
    .violet{
        width: 100%;

    }
    .violet{
        width: 100%;

    }
    footer{
        width: 100%;

    }
}