*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    height: 50px;
    background-color: #3982F5;
    
}
.container{
    width: 90%;
    margin: 0 auto;
}
.row-header{
    width: 100%;
    display: flex;
    justify-content: space-between;

}
ul{
    display: none;
}
.col{
    height: 50px;
    width: 40%;
    display: flex;

}
.col img{
    padding-top: 5px;
    padding-left: 30px;
    height: 40px;
}
.col100-text{
    padding: 10px 40px 10px 40px;
    text-align: center;
    line-height: 30px;
    font-family: sans-serif;
}
.col100-text p{
    margin: 20px 0 10px 0;
}
.col100-text h2{
    color:#3982F5; ;
}
.col100-img{
    text-align: center;
}
.col100-img img{
    height: 300px;
    position: relative;
    
}
button{
    width: 120px;
    padding: 5px;
    background-color:  #3982F5; 
    color: white;
    border-radius: 20px;
    margin-top: 30px;
    border: none;
}
.icon{
    padding: 50px 0 0 0;
    text-align: center;
    color: #3982F5;
    margin-bottom: 50px;
}

.col-70{
    width: 70%;
    height: 100%;   
}
.menu{
    width: 300px;
}


.col-30{
    width: 30%;
    height: 100%;
}
.button-menu{
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    display: none;
}
.sandwitch{
    padding-top: 5px;
    padding-left: 10px;
    color: white;
}
.container{
    width: 100%;
   
}
.row{
    width: 95%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
        
}

.col-100{
    width: 90%;
    min-height: 400px;
    background-color: #BFDEFF;
   
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 10%;
    margin-bottom: 10px;

}

.violet{
    background-color: #9692DE;
    padding-top: 10px;
    min-height: 400px;
}

.cont-violet{
    min-height: 300px;
   background-color: transparent;
}
.cont-violet img{
    height: 350px;
    padding-left: 20px;
}
.cont-violet p{
    padding: 20px 10px 0 10px
}
.cont-violet-text{
    color: white;
    font-family: sans-serif;
    
    text-align: center;
}
.cont-violet-text p{
    font-size: 12px;
    margin-top: 10px;
    
}
.violet-img{
    background-color: white;
}
.violet-img img{
    padding-left: 30px;
}
.violet-img h4, p{
   font-size: 14px;
    text-align: center;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.arrow{
    position: relative;
    text-align: center;
    left: 45%;

    border-radius: 100%;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    margin-bottom: 10px;
    background-color: #9692DE;
}
.cont-white{
    min-height: 300px;
    width: 300PX;
    background-color:#9692DE;
  
}
.text-row{
    text-align: center;
    line-height: 50px;
    font-family: sans-serif;
    padding-left: 60px;
    padding-right: 60px;
}
.text-row p{
    text-align: center;
    line-height: 30px;

}
.text-row h3{
    text-align: center;
   font-size: 30px;
   color: #9692DE;
    
}
.circle-img{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin-top: 10%;
    margin-left: 25%;
    vertical-align: middle;
    background-color: #3982F5;
    background-image: url(../img/testimonial1.jpg);
    background-size: cover;
    background-position: center;
    
}

.text-white{
    height: 60%;
    margin-top: 10px;
    margin-left: 20%;
    width: 60%;
    margin-bottom: 10%;
    font-family: sans-serif;
    color: white;
    text-align: center;
}
.testimonial-2{
    background-image: url(../img/testimonial2.jpg);
}
.testimonial-3{
    background-image: url(../img/testimonial3.jpg);
}
.card{
    background-color: white;
    line-height: 30px;
    padding-left: 30px;
    padding-right:30px ;
}
.violet h2{
    font-size: 28px;
    color: white;
    font-family: sans-serif;
    padding:40px 50px 30px 70px;
    
}
.card h1{
    font-size: 60px;
    padding: 20px 0 20px 20px;
    color: #9692DE;
    font-family: sans-serif;
}
.card h3{
    font-size: 25px;
    padding: 10px 0 10px 10px;
    color: #9692DE;
    font-family: sans-serif;
}
.card p{
    padding-left: 40px;
    padding-right: 40px;
    font-family: sans-serif;
}
.more{
    font-size: 15px;
    background-color: #9692DE;
    margin-bottom: 30px;
    margin-left: 20px;
}
.cont-about-us{
    width: 95%;
    background-color: transparent;
}
.cont-about-us h1{
    padding: 10px 0 0 20px;
    font-size: 35px;
    font-family: sans-serif;
    color: #9692DE;
}
.cont-about-us p{
    font-size: 15px;
    line-height: 25px;
    padding: 20px 10px 0 10px;
}
.circle-about{
    position: relative;
    right: 70px;
    bottom: 40px;
    background-image: url(../img/about.jpg);
}
.circle-text{
    font-size: 25px;
    font-family: sans-serif;
    color: #9692DE;
}
.linkedin{
    width: 200px;
    
}
.get-started-text{
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    font-family: sans-serif;
}
.get-started-text h4{
    color: lightgray;
}
.get-started-text h2{
    color: white;
    font-size: 40px;
}
.get-started-text h1{
    font-size: 60px;
    color: white;
    color: #F4C36F;
    margin-top: 30px;
    
}
.get-started-text p{
    line-height: 20px;
    color: white;
    margin-top: 30px;
}
.button-get-started{
    color:#9692DE;
    background-color:white;
    margin-bottom: 50px;
}

.col-60{
    width: 100%;
    height: 60%;
    background-color: bisque;
}
.get-started{
    height: 400px
}
.container-violet{
    width: 100%;
    min-height: 500px;
    background-color: #9692DE;
}
.get{
    background-color: #9692DE;
}
.button-get{
    background-color: white;
    color: #9692DE;
}
.copyright{
    font-size: 14px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
.copyright a{
    font-size: 14px;
    text-align: center;
    color: white;
    font-family: sans-serif;
}
footer{
    width: 100%;
    height: 200px;
    background-color: #222;
}
.row-footer{
    width: 75%;
    height: 300px;
    margin: 0 auto;
}
.col-footer{
    width: 100%;
    height: 25;
    color: white;

}
.col-footer p{
    font-size: 10px;
    padding-top: 30px;
}
.col-footer-2{
    padding-bottom: 40px;
}
/*********************************/
/*media query*/
/*********************************/
@media screen and (min-width: 768px) {

    .container-card{
        width: 100%;
    }
    .col66{
        width: 65%;
    }
    .col33{
        width: 33%;
    }
    .row{
        justify-content: space-between;
    }
    .cont-white{
        width: 100%;
    }
    .violet{
        width: 100%;
    }
    .cont-violet{
        width: 48%;
    }
    .row-about-us{
        display: flex;
    }
    .cont-about-us{
        width: 48%;
        min-height: 400px;
    }
    .row-violet{
        flex-direction: column;
    }
}

@media screen and (min-width: 992px){
    .container-card{
        width: 100%;
    }
    .row-card{
        width: 75%;
        margin: 0 auto;
    }
    .col66{
        padding-top: 100px;
        display: flex;
    }
    .col66 .col100-text{
        position: relative;
        right: 40px;
    }
   

    .row-violet{
        display: flex;
        flex-direction: row;
    }
    
    .white{
        width: 100%;
    }
    .row-white{
        width: 75%;
        margin: 0 auto;
    }
    .violet{
        width: 100%;

    }
    .violet h2{
       text-align: center;

    }
    .card-violet{
        width: 75%;
        flex-wrap: wrap;
        margin: 0 auto;
    }
    .cont-violet{
        width: 30%;
    }
    .circle-img{
        margin-left: 400px;
    }
    .get{
        margin-left: 20%;
    }
    footer{
        width: 100%;
        
    }
    .row-footer{
        width: 50%;
        margin: 0 auto;
    }
    ul{
        display: flex;
        list-style-type: none;
        text-decoration-line: none;
        justify-content: space-around;
        padding-top: 10px;
        color: white;
        
    }
    .col-30{
        display: none;
    }
    .sandwitch{
        display: none;
    }
}

@media screen and (min-width: 1200px){
    .container{
        width: 100%;
    }
    .violet{
        width: 100%;

    }
    .violet{
        width: 100%;

    }
    footer{
        width: 100%;

    }
}